# @package _global_
defaults:
  - _self_
  - job: train
  - override hydra/job_logging: custom
  - override hydra/hydra_logging: colorlog

hydra:
  run:
    dir: ${working_dir}/outputs/${name}-${now:%Y-%m-%d_%H-%M-%S}
  job:
    chdir: false
