data:
  train_dir: 'dataset/meta/train'
  test_dir: 'dataset/meta/test'
  file_format: '*.file_extension'
  use_background_generator: true
  divide_dataset_per_gpu: true
---
train:
  random_seed: ~
  num_iter: 10000  # max iteration
  num_workers: 16
  batch_size: 64
  optimizer:
    mode: 'adam'
    adam:
      lr: 0.001
      betas:
        - 0.9
        - 0.999
  dist:
    master_addr: 'localhost'
    master_port: '12355'
    mode: 'nccl'
    gpus: 8 # 0 for not using dist, -1 for using all gpus
---
test:
  num_workers: 16
  batch_size: 64
---
model:
  device: 'cuda'
---
log:
  name: 'Fisrt_training'
  use_tensorboard: true
  use_wandb: false
  wandb_init_conf:
    entity: ~
    project: ~
  summary_interval: 1 # interval of step
  chkpt_interval: 10 # interval of epoch
  chkpt_dir: 'chkpt'
  log_dir: 'logs'
---
load:
  wandb_load_path: ~
  network_chkpt_path: ./test.pt
  strict_load: false
  resume_state_path: ~
